@import "../../global.scss";


.catalog {
    width: 100% !important;
    height: 100vh;
    position: relative;
    background: black;
}
  
.catalog:before {
    content:"";
    position: relative;
    /* background: url('../../assets/cloud-bg.png') no-repeat center center/cover; */
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .imgContainer {
    width: 700px;
    height: 700px;
    background-color: black;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 900px;
    overflow-x: hidden;

    @include mobile {
      align-items: flex-start;
    }

    img {
      // CTV Radio Logo
      height: 90%;
      margin-left: 45px;
      margin-top: 60px;
    }
  
  
.catalog .content {
    position: absolute;
    left: 0;
    top: 30%;
    width: 50%;
    padding: 1rem;
  }
  
 


    @include mobile {
      font-size: 20px;
    }
  }
  
.catalog h1 {
    color: #f8f8f8;
    align-items: center;
    font-size: 100px;
    margin-top: 300px;
    position: absolute;
}


.catalog h2 {
    color: goldenrod;
    align-items: center;
    margin-top: 400px;
    margin-left: 5px;
    position:absolute;
  }
  
.catalog p {
    color: #f8f8f8;
    margin: 1rem 0;
  }


  
  
  // @media screen and (max-width: 940px) {
  //   .catalog .content {
  //       left: 0;
  //       width: 100%;
  //   }
  