//@import "../../global.scss";



footer{
  width: 80%;
  height: 28vh !important;
  position: absolute;
}

.main-footer {
  background: linear-gradient(90deg, rgb(26, 23, 23) 3%, rgb(151, 1, 1) 100%);
  color: whitesmoke;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  

  .container {
    padding: 1rem;
  }
  

  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  h4 {
    color: goldenrod;
    font-size: 30px;
    margin-left: 35px;
    align-items: center;
  }

  li {
    font-size: 20px;
  }

  .nav a {
    text-decoration: none;
    color: whitesmoke;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
  }

  a:hover {
    font-weight: 600;
  }

  p{
    display: flex;
  }


  @mixin mobile {
    flex: 1;
    overflow: hidden;
  }
}
